<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>

  <%- include('partials/_header') %>

  <body>
    <form class="text-center" method="POST" action="/register">
      <h3>Create Account</h3>
      <div class="form-outline mb-4">
        <label for="nameId">Email address</label>
        <input id="nameId" name="email" type="email"/>
      </div>

      <div class="form-outline mb-4">
        <label for="passwordId">Password</label>
        <input id="passwordId" name="password" type="password"/>
      </div>

      <button type="submit" class="btn btn-primary">
        Register
      </button>
    </form>
